@font-face {
  font-family: "iconfont"; /* Project id 3825355 */
  src: url('//at.alicdn.com/t/c/font_3825355_e57p289vjl.woff2?t=1671068443510') format('woff2'),
       url('//at.alicdn.com/t/c/font_3825355_e57p289vjl.woff?t=1671068443510') format('woff'),
       url('//at.alicdn.com/t/c/font_3825355_e57p289vjl.ttf?t=1671068443510') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fangwuchuzu:before {
  content: "\ffb9";
}

.icon-31quanbushangpin:before {
  content: "\e600";
}

.icon-changge:before {
  content: "\e895";
}

.icon-dianyingpiao:before {
  content: "\e8ae";
}

.icon-meishi:before {
  content: "\e8f8";
}
